
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}
.navbar .logo {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}
.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #32CD32; /* Light green color */
    color: #fff;
    border-radius: 4px;
}
@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 10px 0;
    }
}
h1 {
    font-weight: bolder;
    color: #fff;
    font-size: 50px;
}
h2{
    font-weight: bold;
    color: #fff;
    font-size: 40px;
}
.rightAlign{
    text-align: right;
}

.tableMargin{
    margin-left: 50px;
    margin-top: -10px;
}

.mainDiv p{
  padding: 50px 100px;
}

.question {
  text-emphasis: filled double-circle #32CD32;
  font-style: italic;
  text-align: center;
  
}
.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.rounded-button {
  background-color: #32CD32;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.rounded-button:hover {
  background-color: #134e13;
}