
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
}
.navbar {
    display: flex;A
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}
.navbar .logo {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}
.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #32CD32; /* Light green color */
    color: #fff;
    border-radius: 4px;
}
@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 10px 0;
    }
}
h1 {
    font-weight: bolder;
    color: #fff;
    font-size: 50px;
}
h2{
    font-weight: bold;
    color #fff;
    font-size: 40px;
}
.rightAlign{
    text-align: right;
}
.tableMargin{
    margin-left: 50px;
    margin-top: -10px;
}
